name: Manual trigger

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Who to greet"
        default: "World"
      approval:
        description: "Approve to Continue..."
        type: string
        required: true

jobs:
    hello:
        runs-on: ubuntu-latest

        steps:

        - name: Hello Step
          if: ${{ github.event.inputs.approval == 'dev'  || inputs.approval == 'dev' }}
          run: echo "Hello ${{ github.event.inputs.name }}"

