name: Manual trigger

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Who to greet"
        default: "World"
      approval:
        description: "Approve to Continue..."

jobs:
    hello:
        runs-on: ubuntu-latest

        steps:

        - name: Notify workflow status
          id: approval
          run: |
              echo ${{ github.events.inputs.approval }}



 
        - name: Notify workflow status
          if: steps.approval.outputs.result == 'approved'
          run: |
            echo "The workflow has been approved."

        - name: Hello Step
          run: echo "Hello ${{ github.event.inputs.name }}"

